<section
  id="Gallery"
  > <h2
  > Gallery</h2
  > <div
  class="container"
  > <img
  src="assets/gallery/1.jpg"
  alt="Image 1"
  > <img
  src="assets/gallery/2.jpg"
  alt="Image 2"
  > <img
  src="assets/gallery/3.jpg"
  alt="Image 3"
  > <img
  src="assets/gallery/4.jpg"
  alt="Image 4"
  > <img
  src="assets/gallery/5.jpg"
  alt="Image 5"
  > <img
  src="assets/gallery/6.jpg"
  alt="Image 6"
  > <img
  src="assets/gallery/7.jpg"
  alt="Image 7"
  > <img
  src="assets/gallery/8.jpg"
  alt="Image 8"
  > </div
  > </section
  > #Gallery {
  padding-bottom: 0;
}

#Gallery .container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
}

#Gallery .container img {
  filter: grayscale(100);
  width: 100%;
  aspect-ratio: 1/1;
  transition: all 2s;
}

#Gallery .container img:first-child {
  grid-row: span 2;
  aspect-ratio: 1/2;
}

#Gallery .container img:hover {
  filter: none;
  cursor: pointer;
}

#Gallery .container img:active {
  transform: scale(1.2);
  z-index: 1;
  border: 2px solid burlywood;
}
